<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Puroxa Water" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen">

    <!-- Navbar -->
    <%= render "customer/landing/navbar" %>

    <!-- Page Content (Dynamic) -->
    <main class="flex-grow flex items-center justify-center px-4 py-12 bg-gradient-to-b from-cyan-50 to-gray-50" style="
    margin-top: -30px;">
      <%= yield %>
    </main>

    <!-- Footer -->
    <%= render "customer/landing/footer" %>

  </body>
</html>
